/*****************************************************************************
 * Keyboard Geometry
******************************************************************************/

/* XXX magic numbers */
#left  .matrix { transform-origin: -8px 56px; }
#right .matrix { transform-origin: 67px 56px; }
.leftThumb  .thumb { transform-origin: -14px -62px; }
.rightThumb .thumb { transform-origin:  74px -62px; }

#left  .matrix { transform-origin:  0px   56px; }
#left  .thumb  { transform-origin: -14px -62px; }
#right .matrix { transform-origin:  70px  56px; }
#right .thumb  { transform-origin:  74px -62px; }

/* keyboard geometry (XXX magic numbers) */
#right { transform: translate(970px, 0px); }

/* XXX dirty WebKit fixes */
@supports (-webkit-hyphens: none) {
  .none  #right,
  .ortho #right  { transform: translate(772px, 0px); }
}

.board {
  fill:   rgba(130, 156, 175, 0.40);
  stroke: rgba(130, 156, 175, 0.10);
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
  display: none;
}
.keycaps {
  stroke: navy;
  stroke-width: 0.5px;
  stroke-dasharray: 1 2;
  display: none !important;
}
.tap-pref {
  stroke-width: 1.2px;
}
text.sticky {
  transform: rotate(-90deg);
}


/*****************************************************************************
 * Labels: text, symbols
******************************************************************************/

text {
  font: normal 18px sans-serif;
  transform: translate(0px, 2px);
  text-align: center;
  text-anchor: middle;
}
.specialKey text {
  font-size: 14px;
}
text.pc {
  font-size: 14px;
}
text.shortcut {
  font-size: 12px;
}

/* symbols */
use.level0,
use.level2,
use.layerSym,
use.layerNav,
use.layerVim {
  stroke-width: 3.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.tt .holdTap, .tt .borderMod,
.ez .holdTap, .ez .borderMod { display: none; }


/*****************************************************************************
 * Color Theme
******************************************************************************/

:root {
  --key-bg: #fff;
  --key-fg: #666;
  --key-nav: rgb(198, 106, 29);
  --key-label: #444;

  --special-bg: #333;
  --special-nav: rgb(243, 156, 84);
  --special-label: #fff;
}

#board use,
#board path {
  fill:   rgba(130, 156, 175, 0.70);
  stroke: rgba(130, 156, 175, 0.50);
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

rect {
  fill:   var(--key-bg);
  stroke: var(--key-fg);
  stroke-width: .5px;
}

text { fill: var(--key-label); }

.specialKey use { stroke: var(--special-label); }
.specialKey text  { fill: var(--special-label); }
.specialKey rect  { fill: var(--special-bg); }

text.colorNav,
text.layerNav  { fill: var(--key-nav); }
use.layerNav { stroke: var(--key-nav); }

.specialKey text.colorNav,
.specialKey text.layerNav  { fill: var(--special-nav); }
.specialKey use.layerNav { stroke: var(--special-nav); }
